.br-none {
  border: none !important;
}

.br-left {
  border-left: 3px solid #704214 !important;
}

.br-right {
  border-right: 3px solid #704214 !important;
}

.br-top {
  border-top: 3px solid #704214 !important;
}

.br-bottom {
  border-bottom: 3px solid #704214 !important;
}

.br-full {
  border: 3px solid #704214 !important;
}

.br-rad0 {
  border-radius: 0px !important;
}

.br-rad10 {
  border-radius: 10px !important;
}

.br-rad15 {
  border-radius: 15px !important;
}

button > i {
  margin-right: 0px;
}
.cm-button {
  display: flex;
  justify-content: flex-end;
  margin-left: 5px;
}
.cm-button button {
  color: #000000;
  cursor: pointer;
  width: 32px;
  height: 32px;
}
.control-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: end;
}
.disabled {
  color: #808080;
}
.target-item-container > h2,
.required-item-container > h2,
.description-text-container > h2 {
  max-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: large;
}
.recipe-card .edit-buttons {
  flex-direction: row-reverse;
}

.recipe-card .edit-type {
  flex: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.recipe-card .edit-name > input,
.recipe-card .edit-type > select {
  background: #deb887;
  font-size: 1.4rem;
  height: 31px;
}

.recipe-card .edit-name > p,
.recipe-card .edit-type > p {
  margin: 0;
  margin-bottom: 2px;
}

.recipe-card {
  background: #9e733b;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.recipe-container .description-container,
.recipe-container .items-container,
.recipe-container .target-container {
  background: #deb887;
  color: #000000;
  margin: 10px;
  padding-top: 10px;
  padding-left: 10px;
  min-height: 100px;
}

.tmce-editor-container {
  width: 100%;
}

.recipe-container .tmce-editor-container .editor .tox-edit-area {
  margin-left: 10px;
  margin-right: 10px;
}
.recipe-container .tmce-editor-container .editor .tox-editor-header {
  background: #bb8b54;
  border-color: #704214;
  border-width: medium;
  border-style: hidden;
  border-bottom-style: solid;
  border-top-right-radius: 10px;
}
.recipe-container .tmce-editor-container .editor .tox-toolbar-overlord {
  background: transparent;
}
.recipe-container .tmce-editor-container .editor .tox-toolbar__primary {
  justify-content: center;
  background: transparent;
  background-image: none;
}
.recipe-container .tmce-editor-container .editor .tox-tinymce {
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.recipe-container .tmce-editor-container .editor {
  color: #000000;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.recipe-container .tmce-editor-container .editor .tox-tbtn {
  margin-left: 2px !important;
}

.recipe-container .edit-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: #000000;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.recipe-container .items-container,
.recipe-container .description-container {
  display: flex;
  padding-top: 0px;
  padding-left: 0px;
}
.recipe-container button {
  color: #000000;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
}
.recipe-container button.delete_item_button {
  width: auto;
  min-width: 32px;
  height: 100%;
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.recipe-container button.item_button {
  width: auto;
  min-width: 32px;
  height: 100%;
}
/* recipe container stuff */
.recipe-container {
  display: flex;
  flex-direction: column;
}
.required-image {
  padding: 10px;
  max-height: 64px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.required-item > p {
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: medium;
  max-height: 100px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#crafting-form .required-item > input[type="text"] {
  min-width: 10%;
  max-width: min-content;
  height: 100%;
  padding: 0px;
  font-size: 16px;
}
.required-item {
  background: #9e733b;
  display: flex;
  max-width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}
.required-item-container,
.description-text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 85%;
}
.description-text-container {
  padding-bottom: 10px;
}
.required-items {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin-bottom: 10px;
  max-height: 250px;
}

.select-recipe-file {
  flex: 1;
}
.search-recipe {
  flex: 2;
}

.select-recipe-file {
  margin-left: 5px;
}

.search-recipe > input,
.select-recipe-file > select {
  font-size: 1.4rem;
}

.search-recipe > p,
.select-recipe-file > p {
  margin: 0;
  margin-bottom: 2px;
}
.target-image {
  min-width: 100%;
  padding: 5px;
}
.target-item-container {
  max-width: 25%;
  min-width: 15%;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.target-item-container > p {
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  max-height: 100px;
}
.target-item-container > div {
  display: flex;
  flex-direction: row;
  max-height: 100px;
}
.height-limiter {
  max-height: 250px;
  padding-left: 10px;
  overflow-y: scroll;
}
.item-type-text {
  padding-left: 20px;
  width: 50%;
}
#furu-sc-quantity-config section.window-content,
#furu-sc-craft-menu .window-content {
  background: rgba(32, 32, 32);
  color: #deb887;
}
#furu-sc-quantity-config button,
#crafting-form button {
  background: #deb887;
  margin: 0px;
}
#crafting-form .recipe-container .edit-container .editor button {
  width: auto;
  min-width: 32px;
  margin-left: 4px;
}
#furu-sc-quantity-config input[type="text"],
#crafting-form input[type="search"] {
  color: #000000;
  background: #deb887;
  height: 100%;
}
#furu-sc-quantity-config header.table-header {
  background: #70421488;
  padding: 5px;
  border: 1px solid #9e733b;
  text-align: center;
  color: var(--color-text-light-highlight);
  font-weight: bold;
  text-shadow: 1px 1px var(--color-shadow-dark);
}
#crafting-form select {
  color: #000000;
  background: #deb887;
  border-color: #9e733b;
  height: 100%;
  width: 100%;
}
#crafting-form {
  color: #deb887;
  padding: 10px;
}
#furu-sc-quantity-config .window-content ol {
  list-style: auto;
  margin: 0.5em 0;
  padding: 0 0 0 1.5em;
}
#crafting-form input[type="text"].quantity-input {
  background: #deb887;
  height: 100%;
  text-align: center;
}
